---
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import { getCollection, render } from "astro:content";

import { faArrowLeft } from "@fortawesome/free-solid-svg-icons";
import Icon from "../../components/Icon.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title="McInnes Design | Blog" description={post.data.description}>
  <Prose>
    <div class="not-prose mb-6">
      <a href="/blog" class="text-indigo-600 dark:text-indigo-300"><Icon icon={faArrowLeft} />{" "}Blog</a>
    </div>
    <h1>{post.data.title}</h1>
    <Content />
  </Prose>
</Layout>
