---
import Layout from "../layouts/Layout.astro"
---

<Layout title="McInnes Design &#124; Privacy">
  <div class="px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-100">
      <p class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-500">Keeping things secure</p>
      <h1 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 dark:text-gray-50 sm:text-5xl">Privacy Policy</h1>
      <p class="mt-6 text-balance text-base/8">By entering any personal or identifiable information you consent to said information being shared with McInnes Design.</p>
      <p class="mt-6 text-balance text-base/8">Any data entered is only stored for the length of the browser session and is not shared with any 3rd parties. If you do not agree with these terms do not enter any personal or identifiable information into this application.</p> 
      <p class="mt-6 text-balance text-base/8">By navigating and/or visiting this application some usage data may be recorded.</p>
    </div>
  </div>
</Layout>
