---
// Inspired by the `Aside` component from docs.astro.build
// https://github.com/withastro/starlight/blob/main/packages/starlight/integrations/asides.ts

import { faNoteSticky, faCircleInfo, faCircleExclamation, faFire } from "@fortawesome/free-solid-svg-icons";
import Icon from "../components/Icon.astro";

interface Props {
	type?: 'note' | 'tip' | 'caution' | 'danger';
	title?: string;
}

const labelByType = {
	note: 'Note',
	tip: 'Tip',
	caution: 'Caution',
	danger: 'Danger',
};
const { type = 'note' } = Astro.props as Props;
const title = Astro.props.title ?? labelByType[type] ?? '';

const icons = {
	note: faNoteSticky,
	tip: faCircleInfo,
	caution: faCircleExclamation,
	danger: faFire,
};
---

<aside class={`content mx-0 p-4 outline outline-transparent ${type}`} aria-label={title}>
	<div class="not-prose title flex flex-row gap-2 mb-2 leading-none text-base tracking-wider font-bold uppercase" aria-hidden="true">
		<Icon icon={icons[type]} class="size-6! align-middle!" />
		<p class="my-auto mx-0">{title}</p>
	</div>
	<section>
		<slot />
	</section>
</aside>

<style>
	aside {
		--color-base-purple: 269, 79%;
		--color-base-teal: 180, 80%;
		--color-base-red: 351, 100%;
		--color-base-yellow: 41, 100%;

		--aside-color-base: var(--color-base-purple);
		--aside-color-lightness: 54%;
		--aside-accent-color: hsl(var(--aside-color-base), var(--aside-color-lightness));
		--aside-text-lightness: 20%;
		--aside-text-accent-color: hsl(var(--aside-color-base), var(--aside-text-lightness));

    border-inline-start: 4px solid var(--aside-accent-color);
		background-color: hsla(var(--aside-color-base), var(--aside-color-lightness), 0.1);
	}

  :root {
    :where(.dark, .dark *) {
      aside {
         --aside-text-lightness: 70%;
      }
    }
  }

	.title {
		color: var(--aside-text-accent-color);
	}

	aside :global(a),
	aside :global(a > code:not([class*='language'])) {
		color: var(--aside-text-accent-color);
	}

	.tip {
		--aside-color-lightness: 42%;
		--aside-color-base: var(--color-base-teal);
	}

	.caution {
		--aside-color-lightness: 59%;
		--aside-color-base: var(--color-base-yellow);
	}

	.danger {
		--aside-color-lightness: 54%;
		--aside-color-base: var(--color-base-red);
	}
</style>
